@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;

.wrapper{
    height: 100%;
    width: fit-content;
    display: flex;
    color: $txt-sec;
    
    section{
        width: 100vw;
        height: 100%;
        background-color: $bg-sec;
    }
}