@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.container{
    @include container;
    width: fit-content;
    background-color: $bg-main;
    color: $txt-main;
    @include contentPadding;
    padding-inline: $spacing-l-7;

    @include custom-screen($b: 800px){
        padding-inline: 0;
        width: 100vw;
    }

    .maskContainer{
        position: absolute;
        background-color: $red;
        color: $black;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
        margin-right: -1px;

        .right{
            position: absolute;
            top: 60%;
            right: 5%;
            transform: translateY(-50%);
        }
    }

    .content{
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 25rem;

        @include custom-screen($b: 800px){
            display: block;
            height: fit-content;
            width: 100%;
        }
    }
}

.titleContainer{
    white-space: nowrap;
    @include cinzel;

    @include custom-screen($b: 800px){
        text-align: center;
    }

    @include custom-screen($b: 800px){
        padding-block: $spacing-l-2;
    }

    .line{
        display: flex;
        align-items: flex-end;

        @include custom-screen($b: 800px){
            justify-content: center;
        }

        span{
            font-size: $txt-nm-4;
            
            @include custom-screen($b: 700px){
                font-size: $txt-sm-3;
            }
        }

        
    }

    h2{
        font-size: $txt-rsp-4;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.slider{
    height: 100%;
    width: fit-content;
    display: flex;
    gap: $spacing-l-2;

    @include custom-screen($b: 800px){
        height: fit-content;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cardS{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .imgContainer{
            width: 350px;
            height: 450px;
            overflow: hidden;

            @include custom-screen($b: 800px){
                width: 100%;
                height: 450px;
            }

            @include sm-screen{
                height: 100%;
            }

            img{
                @include img;
                transform: scale(1.2);

                @include custom-screen($b: 800px){
                    display: block;
                    transform: scale(1);
                }
            }
        }

        .textContainer{
            display: flex;
            justify-content: space-between;
            margin-top: $spacing-sm-1;
            overflow: hidden;

            @include sm-screen{
                padding-inline: $spacing-sm-1;
            }

            .number{
                @include cinzel;
                font-size: $txt-l-1;
            }

            .desc{
                text-align: right;
                @include cinzel;
            }
        }
    }

    .cardL{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .imgContainer{
            width: 650px;
            height: 450px;
            overflow: hidden;

            @include custom-screen($b: 800px){
                width: 100%;
                height: 450px;
            }

            @include sm-screen{
                height: 100%;
            }
            
            img{
                @include img;
                transform: scale(1);
            }
        }

        .textContainer{
            display: flex;
            justify-content: space-between;
            margin-top: $spacing-sm-1;

            @include sm-screen{
                padding-inline: $spacing-sm-1;
            }

            .number{
                @include cinzel;
                font-size: $txt-l-1;
            }

            .desc{
                text-align: right;
                @include cinzel;
            }
        }
    }
}