@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.container{
    @include container;
    width: 100vw;
    background-color: $bg-sec;
    color: $white;
    @include contentPadding;
    padding-inline: $spacing-l-2;
    margin-right: -1px;
    
    @include custom-screen($b: 800px){
        height: 100vh;
    }

    .maskContainer{
        @include fullAbsolute;
        background-color: $gray;
        color: $black;
        z-index: 2;
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);

        .right{
            position: absolute;
            top: 60%;
            right: 10%;
            transform: translateY(-50%);
        }
    }
    .content{
        @include content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include custom-screen($b: 800px){
            justify-content: space-around;
            align-items: center;
        }

        .titleContainer{
            @include cinzel;

            .title{
                font-size: $txt-rsp-4;
                font-weight: 300;
            }

            @include xxl-screen{
                font-size: $txt-rsp-4;
            }
        }

        .flex{
            display: flex;
            gap: $spacing-l-4;

            @include custom-screen($b: 600px){
                flex-direction: column;
            }

            @include xl-screen{
                font-size: $txt-sm-3;
            }
            
            @include lg-screen{
                gap: $spacing-l-1;
                font-size: $txt-sm-2;
            }

            .col{
                max-width: 250px;

                @include custom-screen($b: 800px){
                    max-width: 220px;
                }

                span{
                    margin-right: $spacing-l-4;

                    @include lg-screen{
                        margin-right: $spacing-l-1;
                    }
                }

                a{
                    color: $white;
                    display: flex;
                    margin-top: $spacing-sm-2;

                    @include lg-screen{
                        margin-top: 2px;
                    }

                    @include sm-screen{
                        font-size: $txt-sm-4;
                    }
                }
            }
        }
    }
}