@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;

.wrapper{
    height: 100%;
    width: 70vw;
    background-color: $black;

    .imgContainer{
        width: 100%;
        height: 100%;
        overflow: hidden;

        img{
            @include img;
        }
    }
}