@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.container{
    @include container;
    width: 100vw;
    background-color: $bg-sec;
    color: $txt-sec;
    z-index: 2;
    margin-right: -1px;
    margin-left: -1px;

    @include custom-screen($b: 800px){
        padding-block: $spacing-l-4;
    }

    .content{
        @include content;
        @include centerFlex;

        .titleContainer{
            display: flex;
            flex-direction: column;
            width: 800px;
            
            @include xl-screen{
                width: 600px;
            }

            h2{
                font-size: $txt-rsp-4;
                @include cinzel;
                text-transform: uppercase;

                @include xxl-screen{
                    font-size: $txt-rsp-5;
                }

                @include sm-screen{
                    font-size: $txt-l-2;
                }
            }

            .line1{
                display: flex;
                justify-content: center;
            }

            .line2{
                display: flex;
                justify-content: flex-end;
            }

            .line3{
                display: flex;
                justify-content: flex-start;
            }
        }
    }

    .imgContainers{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        height: fit-content;
        
        @include custom-screen($b: 800px){
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding-top: $spacing-l-4;
        }

        .card{
            display: flex;
            flex-direction: column;

            &:nth-of-type(1){
                align-items: center;
            }
            &:nth-of-type(2){
                align-items: flex-start;

                @include custom-screen($b: 800px){
                    align-items: center;
                }
            }
            &:nth-of-type(3){
                align-items: flex-end;

                @include custom-screen($b: 800px){
                    align-items: center;
                }
            }

            img{
                @include img;
            }

            .textContainer{
                max-width: 250px;
                margin-top: $spacing-sm-2;

                span{
                    margin-right: $spacing-l-2;
                }
            }

            .imgContainer1{
                width: 480px;
                height: 250px;

            }

            .imgContainer2{
                width: 350px;
                height: 270px;
                margin-top: $spacing-l-4;

                @include custom-screen($b: 800px){
                    width: 480px;
                    height: 250px;
                }
            }

            .imgContainer3{
                width: 400px;
                height: 300px;
                margin-top: -$spacing-l-5;

                @include custom-screen($b: 800px){
                    width: 480px;
                    height: 250px;
                    margin-top: $spacing-l-4;
                }
            }
        }
    }
}