@use '../../scss/mixins' as *;
@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.wrapper{
    height: 100%;
    width: fit-content;
    display: flex;

    @include custom-screen($b: 800px){
        width: 100vw;
        height: fit-content;
        display: block;
    }
}