
$bg-main: #CCCCCC;
$bg-sec: #000000;
$txt-main: #000000;
$txt-sec: #fff;

$black: #000000;
$white: #fff;
$gray: #CCCCCC;
$brown: #c88e57;
$red : red;

$txt-sm-1: 0.6rem;
$txt-sm-2: 0.7rem;
$txt-sm-3: 0.8rem;
$txt-sm-4: 0.9rem;

$txt-nm-1: 1rem;
$txt-nm-2: 1.1rem;
$txt-nm-3: 1.3rem;
$txt-nm-4: 1.6rem;

$txt-l-1: 2rem;
$txt-l-2: 2.4rem;
$txt-l-3: 2.8rem;
$txt-l-4: 3.4rem;
$txt-l-5: 4rem;
$txt-l-6: 5.5rem;
$txt-l-7: 7rem;

$txt-rsp-1: 3vw;
$txt-rsp-2: 3.5vw;
$txt-rsp-3: 4vw;
$txt-rsp-4: 5vw;
$txt-rsp-5: 7vw;
$txt-rsp-6: 8.8vw;

$spacing-sm-1: 0.5rem;
$spacing-sm-2: 0.7rem;
$spacing-sm-3: 0.9rem;
$spacing-sm-4: 1rem;

$spacing-nm-1: 1.4rem;
$spacing-nm-2: 1.6rem;
$spacing-nm-3: 1.8rem;
$spacing-nm-4: 2.2rem;

$spacing-l-1: 2.8rem;
$spacing-l-2: 3.5rem;
$spacing-l-3: 4.2rem;
$spacing-l-4: 6rem;
$spacing-l-5: 9rem;
$spacing-l-6: 12rem;
$spacing-l-7: 15rem;